h1 {
  color: black;
  font-family: "Lobster", cursive;
  font-size: 40px;
}

h1 {
  padding: 20px 0 0 20px;
}

.weather-temperature{padding: 20px 0 0 20px;
font-size: 20px;}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  
}

.weather-temperature .active:hover {
  text-decoration: none;
}



p {
  padding: 20px 0 0 20px;
  font-weight: bold;
  font-size: 20px;
}

h3,
h4 {
  font-weight: bold;
  padding: 20px 0 0 2%;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px;
}

  

.container {
  width: 800px;
  padding: 50px;
}


body {
  width: 800px;
  margin-left: 100px;
  margin-right: 100px;
}

a {
  display: block;
  text-align: centre;
}

.weather-forecast {
margin-top:20px;
text-align:centre;
color:#1000; }

.weather-forecast-date {
  font-size: 16px;
opacity: 0.5;}

.weather-forecast-temperature-min {
   opacity: 0.5;}

.weather-forecast-temperatures {
  font-size: 13px;}